* {
    font-family: 'Roboto', sans-serif;
}

body {
    box-sizing : border-box;
    margin : 0;
    padding : 0;
    display : block;
    background: radial-gradient(50% 20.22% at 50% 0%, #AFFFDD 0%, #FFFFFF 100%);
}

.navbar {
    height: 100px;
    left: 0;
    top: 0;
    right: 0;
    display : flex;
    flex-direction: row;
    justify-content : space-between !important;
    align-items: center;
    background : transparent;
    padding: 0 50px;
}

.logo-img {
    width: 100px;
    height: 100px;
    margin: 0 16px 0 0;
}

.logo-name {  
    display : flex;
    background : transparent;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    display: flex;
    align-items: center;
    color: #000000;
    background : transparent;
}

.menu {
    display : flex;
    margin: 0 0;
    background : transparent;
    list-style: none;
}

.menu > li > a{
  text-decoration: none !important;
  font-weight: 400;
  font-size: 20px;
  color: #333;
}

.menu-list-item {
    text-decoration: none;
    line-height: 1;
    position: relative;
    z-index: 0;
    padding: 5px 5px;
    height: 100%;
    overflow: hidden;
    vertical-align: bottom;
    margin: 0 16px;
    transition: color .3s ease-out;
    background : transparent;
}
     
.menu-list::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    transform: translateY(calc(100% - 2px));
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
    transition: transform .25s ease-out;
}
     
.menu-list:hover { 
    color: rgb(18, 66, 18); 
}

.menu-list:hover::before {
    transform: translateY(0);
    transition: transform .25s ease-out;
}

.menu-list-item {
    
    font-style: normal;
    flex-direction: row;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background : transparent;
} 


 .login-btn {

   display: inline-block;
   background-color: black;
   border: 2px solid #1A1A1A;
    appearance: none;

    color: white;
  } 
   
  .login-btn:disabled {
    pointer-events: none;
  }
  
  .login-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .login-btn:active {
    box-shadow: none;
    transform: translateY(0);
  } 

@media (min-width: 768px) {
  .login {
    padding: .75rem 1.5rem;
  }
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

/*body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}*/

h1 {
	font-weight: bold;
	margin: 0;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid black;
	background: black;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background: transparent;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    display: flex;
	justify-content: center;
	align-items: center;
    margin-left : 23%;
    margin-right : 10%;
    margin-top : 5%;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(90deg, #3763FF 0%, #22CD52 100%);
	/*background-repeat: no-repeat;*/
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: green;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
















