.home-wrapper{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page-text{
    font-size: 10rem;
}

.sign-up{
    font-size: 2rem;
    display: block;
    width: 170px;
    height: 40px;
    text-align: center;
    border: 3px white solid;
    border-radius: 40px;
    cursor: pointer;
}