.footer {
    background-color: #65a768;
    padding: 50px 200px;
    color: white;
    position: relative;
}

.footer a {
    text-decoration: none;
    color: white;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about-us > h1 {
    color: white;
    font-weight: 400;
}

.quick-access > h1 {
    color: white;
    font-weight: 400;
}



.classify > h1 {
    color: white;
    font-weight: 400;
}

li {
    list-style-type: none;
    text-align: left;
    margin-top: 8px;
}

.logo{
    width: 150px;
}